@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root
{
    --primary-color: #FBBF24;
}

body
{
    font-family: 'Indie Flower', cursive;
    margin: 0px;
}

.navigation
{
    background-color: var(--primary-color);
    color: black;
    text-align: center;
    padding: 1rem;
}

.navigation h1
{
    font-size: xx-large;
}

.hero
{
    padding: 2rem;
    padding-top: 5rem;
}

.hero .img-hero
{
    max-width: 350px;
    display: block;
    margin: auto;
}

.container-center
{
    max-width: 600px;
    margin: auto;
}

.textarea
    {
            width : 80%;
            height : 10vh;
            display : block;
            margin : 1rem;
            padding : 1rem;
    }    
#output
    {
            border: 1px solid black;
            height: 10vh;
            width: 80%;
            margin: 1rem;
            padding: 1rem;
    }