@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root
{
    --primary-color: #FBBF24;
}

body
{
    font-family: 'Indie Flower', cursive;
    margin: 0px;
}

.navigation
{
    background-color: var(--primary-color);
    color: black;
    text-align: center;
    padding: 1rem;
}

.navigation h1
{
    font-size: xx-large;
}

.hero
{
    padding: 2rem;
}

.hero .img-hero
{
    max-width: 150px;
    display: block;
    margin: auto;
}    

.container-center
{
    max-width: 600px;
    margin: auto;
}

#txt-input
{
    width : 100%;
    min-height : 20vh;
    display : block;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: inherit;
    font-size: large;
    color: black;
}

#btn-translate
{
    background-color: var(--primary-color);
    color: black;
    font-size: x-large;
    font-weight: bold;
    padding: 1rem 2rem;
    border: none;
    font-family: 'Indie Flower', cursive;
    margin-bottom: 0.5rem;
}

.op
{
    font-size : x-large;
}

#output
{
    border: 1px solid black;
    min-height: 10vh;
    max-height: 20vh;
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    font-size: x-large;
    overflow: scroll;
    margin: auto;
}

.footer
{
    max-width: 600px;
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: black;
    margin-top: 2rem;
}

.footer .footer-header
{
    font-weight: bold;
    font-size: x-large;
}

.footer .footer-para
{
    font-size: large;
}